@charset "UTF-8";

.thirds-back {
  height: 750px;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(142, 142, 255) 33.33%, white 33.33%, white 66.66%, white 66.66%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
}

span { font-size: 15pt;}
.name { font-size: 100%; font-weight: bold }
.title { font-size: 85%; font-weight: normal }


div.polaroid {
  width: 50%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: relative;
  transform: translateY(25%);
}

div.container {
  padding: 10px;
}


* {
  box-sizing: border-box;
}

.row {
  display: flex;
}


.columnL {
  flex: 40%;
  padding: 10px;
}
.columnR {
  flex: 60%;
  padding: 10px;
}

/* Create two equal columns that sits next to each other */
.navColumnL {
  flex: 50%;
  padding: 10px;
  float: left;
}
.navColumnR {
  flex: 50%;
  padding: 10px;
  float: right;
  text-align: right;
}

.nav-box {
  height: 75px;
}
nav{
  position:fixed;
  padding: 2%;
  top:0;
  width:100%;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  display: inline;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
}


body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}