@charset "UTF-8";

.thirds-back {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(90deg, rgb(142, 142, 255) 33.33%, white 33.33%, white 66.66%, white 66.66%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0px;
}

span { font-size: 15pt; }
.name { font-size: 100%; font-weight: bold }
.title { font-size: 85%; font-weight: normal }


div.polaroid {
  width: 50%;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  position: relative;
  margin-bottom: 2%;
}

div.container {
  padding: 10px;
}


* {
  box-sizing: border-box;
}

.row {
  display: flex;
}




.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.nav li {
  display: inline-block;
}
.nav ul {
  text-align: right;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;    
    display: flex;
    flex-direction: column;
}

footer{
  padding: 1%;
  width:100%;
  height: 2.5%;
  background-color: #ffffff;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  margin-top: auto;
}


.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10%;
  z-index: 2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.navbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar a:hover {
  -webkit-transition:all .5s;
  background: #ddd;
  color: black;
  border-radius: 32px;
}

.columnL {
  flex: 40%;
  padding: 10px;
  background-color:white;
}
.columnR {
  flex: 60%;
  padding: 5%;
  justify-content: center;
  align-items: center;
  background-color:white;
}

.columnR h3 {
  text-align: justify;
}

.navColumnL {
  flex: 50%;
  padding: 10px;
  float: left;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}
.navColumnR {
  flex: 50%;
  padding: 10px;
  float: right;
  text-align: right;

  flex: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.resumeColumnL {
  flex: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.resumeColumnR {
  flex: 50%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.halfColumnL {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.halfColumnR {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutTitle {
  padding-top: 7.5%;
}

.resumeTitle {
  width: 50%;
  padding-top: 7.5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}

.resumeBack {
  background: rgb(142,142,255);
  background: linear-gradient(270deg, rgba(142,142,255,1) 0%, rgba(200,200,255,1) 100%);
  padding-bottom: 5%;
}

.resumeItem {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
}



.button {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 32px;
}

.downloadButton {
  background-color: blue;
}

.navButton {
  background-color: blue;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 32px;
}

.navButton a:hover {
  background-color: white;
  border: 1px;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 32px;
}