@charset "UTF-8";


.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: wrap;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  float: left;
  
}

.navbar a:hover {
  background-color: #111;
}

.main-headings {
  width: 60%;
  margin: auto;
}

.sidenav {
  height: 100%;
  width: 17.5%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 10px 6px 10px 6px;
  text-decoration: none;
  font-size: 25px;
  color: #bebebe;
  display: block;
  text-align: right;
  font-weight: bold;
  font-family: "Teko", sans-serif;
}

.sidenav h1 a {
  padding: 10px 6px 10px 6px;
  text-decoration: none;
  font-size: 35px;
  color: #ffffff;
  display: block;
  text-align: right;
  font-weight: bold;
  font-family: "Teko", sans-serif;
}

.sidenav a:hover {
  color: #f1f1f1;
  position: relative;
  transition: 0.3s ease;
  transform: translate(-10px, 0px);
  /*left: -10px;*/
}

.dropbtn {
  color: rgba(0,0,0,0.2);
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left:auto;
  right:0;
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

.dropdown-content a:hover {background-color: rgba(0,0,0,0.2)}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #ffffff;
}


.bars {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px 0;
}




.main {
  margin-left: 0px; /* Same as the width of the sidenav */  
}

.portrait {
  border-radius: 10%;
  position: absolute;
  bottom: 0;
  left: 400;
}

body {
  /*background-color: rgb(0, 2, 126);  For browsers that do not support gradients */
  background-image: linear-gradient(to right, rgb(50, 50, 50), rgb(10, 10, 50));
  color: #CCD6F6;
  font-family: "Roboto", sans-serif;
  
}

h1 {
  color: #CCD6F6;
  font-family: "Teko", sans-serif;
}

h2 {
  color: #CCD6F6;
  font-family: "Teko", sans-serif;
}


.body-grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  column-gap: 15px;
}

.column-text {
  column-count: 1;
}

.grid-img {
  width: 100%;
  text-align: right;
  border-radius: 10%;
  border: 4px solid #CCD6F6;
}



/* width */
::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-thumb {
  border: 4px solid rgb(10, 10, 50);
  background-clip: padding-box;
  border-radius: 10px;
  background-color: #AAAAAA;
  
}


::-webkit-scrollbar-track {
  background: rgb(10, 10, 50);
}

/* This is for desktop users */
@media screen and (min-width: 480px) {
  .navbar {display: none;}
  .sidenav {display: initial;}
}

/* This is for mobile users */
@media only screen and (max-width: 620px) {
  .sidenav {
    display: none;
  }
  .main-headings {
    width: 100%;
    margin: auto;
  }
  .navbar {display: initial;}
  .full-page {margin-top:50px;}
}

